.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.sidebar {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  select {
    display: none;
    width: 10rem;
    height: 6rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    background: white;
    border: 0;
    outline: 0;
    padding: 2rem;
    box-shadow: var(--box-shadow);
  }
  .categories {
    width: 20rem;
    padding: 2rem 0;
    background: white;
    border-radius: 1rem;
    border: 1px solid var(--border);
    box-shadow: var(--box-shadow);
    li {
      padding: 0.7rem 3rem;
      transition: color 0.2s;
      cursor: pointer;
      &:hover {
        color: var(--primary);
        background-color: var(--light);
        strong {
          color: var(--primary);
        }
      }
    }
    .active {
      color: var(--primary);
      font-weight: 700;
      strong {
        color: var(--primary);
      }
    }
  }
}

.articles {
  margin: 1rem 0 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .article-box {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    
    img {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      margin-top: -3rem;
    }

    h2 {
      margin-top: 2rem;
      margin-bottom: 0;
      color: var(--primary);
    }

    .article-author {
      color: var(--acc-1);
      margin-bottom: .5rem;
      font-style: italic;
    }

    .article-content {
      max-width: 600px;
      white-space: pre-line;
      margin-top: 3rem;
      margin-bottom: 7rem;
    }
    
    .article-date {
      text-align: right;
      width: 96%;
      font-style: italic;
      color: var(--acc-1);
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  }
}