.title {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--border);
  color: var(--primary);
}

.btn {
  border: 2px solid var(--border);
  border-radius: .5rem;
  padding: 1rem 2rem;
  font-weight: 700;
  cursor: pointer;
  background: var(--bg);
  margin: .5rem;
  &:hover {
    box-shadow: var(--btn-shadow);
    border-color: var(--acc-2);
    transition: all .2s;
  }
}

.btn-primary {
  color: var(--bg);
  background: var(--primary);
  padding: 1rem 3rem;
  &:hover {
    color: var(--bg-light);
    border-color: var(--primary);
  }
}

.btn-secondary {
  color: var(--accent);
}