:root {
  --bg-light: white;
  --bg: #fcfcfc;
  --light: #f4f5f6;
  --border: #e9e9e9;
  --acc-2: #d4dfeb;
  --acc-1: #aeb9c5;
  --text-light: #7f8a99;
  --accent: #556574;
  --dark-acc: #65788b;
  --text: #414346;
  --prim-light: #00ff6e;
  --primary: #2fdb77;
  --prim-dark: #27ae60;
  --danger-light: #fabbbb;
  --danger: #ff9999;
  --error: #f16464;
  --font-family: 'Muli', Arial, sans-serif;
  --box-shadow: 10px 10px 10px rgb(238, 238, 238), -10px -10px 10px rgba(255, 255, 255, 0.5);
  --btn-shadow: 5px 5px 5px rgb(238, 238, 238), -5px -5px 5px rgba(255, 255, 255, 0.5);
  --box-radius: 1rem;
  --btn-radius: 0.5rem;
  --circle-radius: 50%;
  --bg-radius: 67% 33% 33% 67% / 67% 67% 33% 33%;
}

@font-face{ 
	font-family: 'Muli';
	src: url('../fonts/muli/Muli.ttf') format('truetype');
}